body {
  background-color: #f4f4f4;
  font-family: Georgia, serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card {
  width: 320px; 
  border: 1px solid #ccc;
  background-color: #51A687;
  padding: 10px;
   box-shadow: 2px 4px 8px rebeccapurple;
    transition: transform 0.3s ease;
}

.info-wrapper{
  border: 2px dotted #333;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #517e57;
  border-radius: 6px;
}
  
.card:hover {
  transform: scale(1.03); }

.animal-name {
   border: 1px dotted #ccc;
  padding: 10px;
  margin-bottom: 10px;
  padding: 10px;
   background-color: #517e57;
  margin-bottom: 10px;}

.animal-image {
   border: 1px dotted #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
   background-color: #517e57;
  margin-bottom: 10px;
  text-align: center;
}

.animal-image img {
  width: 300px;
  height: auto;
}

.animal-info {
  border: 1px solid #ccc;
  padding: 10px;
   font-weight: bold
}
.info-label {font-style: italic}

.label{
  font-weight: bold
  
}
.animal-facts {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.animal-facts li {
  margin-bottom: 6px;
}